*{
    margin:0;
    padding:0;
    box-sizing: border-box;
} 
.navbar{
    display: flex;justify-content: space-between;
}

  

.navbar ul li{
    display: inline-block;
    margin-left: 40px;
    text-align: center;
    margin-top: 50px;
}

h2{
    color:black;
    margin-left: 90px;
    margin-top: 23px;
    font-size: 40px;
}
.top{
    word-spacing: 20px;
    font-size: 16px;
}

.container{
    width:100vh;
    height:91.1vh;
    background: burlywood;
    background-color: brown;
    
}
    


.section{
    width:80%;
    top:30%;
    text-align: center;
    margin-left: 70px;
    position: absolute;
    justify-content: right;
}

h3{
   font-size: 25px;
   color:brown;
   margin-bottom: 70px;
   margin-top: 25px;
}

p{
    font-size: 20px;
    word-spacing: 18px;
    letter-spacing: 2px;
    line-height: 40px;
    font-weight: 700;
}

button{
    height: 40px;
    width:90px;
    margin-left: 2px;
    font-size: 16px;
    
}

.btn{
    background: transparent;
    position: relative;
    border: 2px solid white;
    margin-left: 110px;
    right: 75px;
    top :60px;
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
    margin-right: 900px;
}

.col{
 
    align-items: center;
    display: inline-block;
    margin-right: 400px;

}

button{
    font-size: 15px;
    border-radius: 20px;
    border:2px solid white;
    background: transparent ;
    margin-top: 10px;
    margin-left: 30px;

}


/*---page--*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
} 

.text p{
    margin-left: 10px;
    
}

body{
    background-color:burlywood;
}